body {
    font-family: Avenir, serif;
    font-size: 14px;
    line-height: 20px;
}

/* nav */
/* sort panel */
#nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.sort-panel {
    display: flex;
    align-items: center;
}

.fieldset {
    display: flex;
    gap: 10px;
    margin-left: 120px;
    border: none;
}

legend {
    font-size: 18px;
    margin-bottom: 5px;
}

label {
    font-size: 16px;
    margin-left: 5px;
}

/* search */

.form {
    display: flex;
    justify-content: flex-end;
    margin: 30px 120px;
    gap: 10px;
}

.input {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 5px 5px;
    border: 1px solid lightblue;
    border-radius: 7px;
    height: 30px;
    width: 250px;
    transition: all ease 0.3s;
}

.input:hover {
    border: 1px solid deepskyblue;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 7px 15px;
    border-radius: 7px;
    background-color: lightblue;
    transition: all ease 0.3s;
}

.btn:hover {
    background-color: deepskyblue;
}

/* main */

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 120px;
    gap: 50px;
}

.film-rating {
    display: flex;
    gap: 3px;
    height: 20px;
    margin-bottom: 7px;
}

.fa-regular, .fa-solid {
    color: deepskyblue;
}

.film-card {
    box-shadow: 1px 1px 7px rgba(128, 128, 128, 0.5);
    padding: 20px;
    border-radius: 15px;
}

.card-section {
    margin-bottom: 15px;
}

.film-main-section {
    display: flex;
    gap: 15px;
}

.film-poster img {
    width: 120px;
    border-radius: 10px;
}

.film-info {
    margin-right: 10px;
}

.film-info-line {
    margin-bottom: 5px;
}

.film-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: bold;
}

span {
    font-weight: bold;
}

.film-description-section {
    margin: 10px 0;
}

.comments-wrapper {
    display: flex;
    max-height: 120px;
    overflow-y: scroll;
    flex-direction: column;
    gap: 15px;
    /*margin-bottom: 15px;*/
    font-size: 14px;
}

.comment-wrapper {
    border: 1px solid rgb(128, 128, 128);
    border-radius: 10px;
    gap: 15px;
    padding: 10px;
}

.comment-meta-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.comment-data-wrapper {
    font-style: italic;
}

.film-new-comment-section {
    display: flex;
    flex-direction: column;
}

.comment-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

textarea {
    height: 70px;
}

.submit {
    background-color: lightblue;
    display: block;
    width: 130px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    padding: 7px 20px;
    margin-bottom: -20px;
    transition: all ease 0.3s;
}

.submit:hover {
    background-color: deepskyblue;
}